USE [master]
GO
/****** Object:  Database [AddCart_DB]    Script Date: 11/17/2023 4:22:46 PM ******/
CREATE DATABASE [AddCart_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AddCart_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\AddCart_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AddCart_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\AddCart_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AddCart_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AddCart_DB]
GO
USE [AddCart_DB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/17/2023 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[catid] [int] IDENTITY(1,1) NOT NULL,
	[catname] [varchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[catid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/17/2023 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[cust_id] [int] IDENTITY(1,1) NOT NULL,
	[cust_name] [varchar](50) NULL,
	[cust_email] [varchar](50) NULL,
	[cust_password] [varchar](50) NULL,
	[cust_phone] [varchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[cust_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/17/2023 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[proid] [int] IDENTITY(1,1) NOT NULL,
	[proname] [varchar](50) NULL,
	[proprice] [float] NULL,
	[prodes] [varchar](250) NULL,
	[proimage] [varchar](50) NULL,
	[cat_id_fk] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[proid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([catid], [catname]) VALUES (1, N'Men’s')
INSERT [dbo].[Category] ([catid], [catname]) VALUES (2, N'Women’s')
INSERT [dbo].[Category] ([catid], [catname]) VALUES (3, N'Kid’s')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([cust_id], [cust_name], [cust_email], [cust_password], [cust_phone]) VALUES (1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Customer] ([cust_id], [cust_name], [cust_email], [cust_password], [cust_phone]) VALUES (2, NULL, NULL, NULL, NULL)
INSERT [dbo].[Customer] ([cust_id], [cust_name], [cust_email], [cust_password], [cust_phone]) VALUES (3, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([proid], [proname], [proprice], [prodes], [proimage], [cat_id_fk]) VALUES (1, N'Guangzhou sweater', 495, N'Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor sum dolor sit amet, consectetur adipisicing elit, sed do mod tempor', N'product-3.jpg', 1)
INSERT [dbo].[Product] ([proid], [proname], [proprice], [prodes], [proimage], [cat_id_fk]) VALUES (2, N'Pure Pineapple', 35, N'Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor sum dolor sit amet, consectetur adipisicing elit, sed do mod tempor', N'product-1.jpg', 2)
INSERT [dbo].[Product] ([proid], [proname], [proprice], [prodes], [proimage], [cat_id_fk]) VALUES (3, N'Converse Shoes', 34, N'Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor sum dolor sit amet, consectetur adipisicing elit, sed do mod tempor', N'product-6.jpg', 2)
SET IDENTITY_INSERT [dbo].[Product] OFF
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([cat_id_fk])
REFERENCES [dbo].[Category] ([catid])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
USE [master]
GO
