@model WebApp_Add_Cart.Models.Customer
<div class="text-center">

    <h1 class="display-4 text-success">Signin</h1>
    <form asp-action="CSignin" asp-controller="Home">

        <div class="form-floating mb-3">
            <input type="text" asp-for="CustEmail" class="form-control" id="floatingInput" placeholder="Email">
            <label for="floatingInput">Email</label>
        </div>


        <div class="form-floating mb-3">
            <input type="password" asp-for="CustPassword" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

       

        <div class="form-floating mb-3">
            <input type="submit" class="btn btn-success" value="Signin">

        </div>
        <div class="@ViewBag.color mb-3" role="alert">
            @ViewBag.message
        </div>

      

    </form>
</div>